 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 main {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     justify-content: space-between;
     gap: 60px;
 }

 form, .solv{
     box-shadow: 0px 4px 37px #00000040;
     border-radius: 23px;
 }

 form {
    width: 45%;
     margin: 20px auto;
     padding: 5%;
     margin-bottom: 50px;
 }

 .title{
     text-align: center;
     font-weight: 300;
     font-size: 30px;
 }

 .box-form {
     margin-top: 10px;
     margin-bottom: 10px;

 }

 .box-form>input {
     margin-top: 10px;
     height: 26px;
     font-size: 20px;
     outline: none;
     padding: 16px;
     width: 100%;
 }

 #button {
     width: 100%;
     padding: 7px;
     background-color: rgb(93, 52, 159);
     border-color: blueviolet;
     width: 100%;
     margin-bottom: 20px;
     color: whitesmoke;
     transition: var(--transition);
 }

 #button:active {
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
     /* Sombra menor e mais interna */
     transform: translateY(2px);
     /* Move o botão um pouco para baixo */
 }

 #button:active {
     transform: scale(0.95);
     /* Diminui o botão para 95% do seu tamanho original */
 }

 .solv{
    width: 58%;
    padding: 5%;
    height: 20%;
    text-align: center;
    margin-top: 15%;
 }

#typePgr{
    text-transform: uppercase;
    color: red;
 
}
 #progressao {
   margin-top: 20px;
   font-size: 20px;
 }